# Termux settings applied by install.sh
default-working-directory = /storage/emulated/0
terminal-transcript-rows = 8000
terminal-cursor-blink-rate = 0
terminal-cursor-style = bar
extra-keys = [['ESC','/','-','TAB','UP','DRAWER','PASTE'], \
               ['HOME','CTRL','ALT','LEFT','DOWN','RIGHT','KEYBOARD']]
use-black-ui = true
terminal-margin-horizontal = 2
terminal-margin-vertical = 0
